Обучите логистическую регрессию для предсказания того, откликнется клиент на рекламное предложение (target = 1) или нет (target = 0).

In [1]:
# подключить библиотеки
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
# считаем данные
data = pd.read_csv('ClientsData.csv')

In [3]:
data.head()

,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,PERSONAL_INCOME,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED,LOAN_DLQ_NUM,TARGET
0,49,1,0,1,2,1,5000.0,1,1,2,0
1,32,1,0,1,3,3,12000.0,1,1,1,0
2,52,1,0,1,4,0,9000.0,2,1,0,0
3,39,1,0,1,1,1,25000.0,1,1,3,0
4,30,1,0,0,0,0,12000.0,2,1,2,0

In [4]:
data.shape

(15223, 11)

In [5]:
# разделим данные на обучающую и тестовую выборки
from sklearn.model_selection import train_test_split

X = data.drop('TARGET', axis=1)
y = data['TARGET']

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, train_size=0.7, random_state=123)

Обучите логистическую регрессию с параметрами по умолчанию.

In [6]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

In [7]:
# обучите модель на тренировочных данных

lr.fit(Xtrain, ytrain)

# сделайте предсказание на тестовых данных
prediction = lr.predict(Xtest)

In [13]:
from sklearn.metrics import accuracy_score

accuracy_score(ytest, prediction)

0.8776001751696957

Посмотрим на долю правильных ответов модели.

**Полученное accuracy_score - ответ на вопрос №1 в тесте.**

Теперь предскажите вероятности классов с помощью обученной логистической регрессии на тестовых данных, и выведите вероятности положительного класса для первых 10 объектов при помощи метода predict_proba (вместо predict).

In [14]:
probs_test = lr.predict_proba(Xtest)

probs_test[:10]

array([[0.86331972, 0.13668028],
       [0.86305957, 0.13694043],
       [0.80967732, 0.19032268],
       [0.73110167, 0.26889833],
       [0.87780414, 0.12219586],
       [0.96122864, 0.03877136],
       [0.95965491, 0.04034509],
       [0.96560659, 0.03439341],
       [0.92114871, 0.07885129],
       [0.9349701 , 0.0650299 ]])

**Вероятность принадлежности 0-го объекта к положительному классу - ответ на вопрос №2 в тесте.**

У обученной модели можно посмотреть веса (как и в линейной регрессии). Как и в линейной регрессии, выведите на экран веса модели (model.coef_, model.intercept_).

In [39]:
lr.coef_
# lr.intercept_
a = [-5.55214705e-02, -7.90868782e-04, -4.28172545e-04,
        -1.07248154e-03, -1.34958177e-03, -4.95807875e-04,
         1.13131722e-05, -1.80011616e-03, -1.26843809e-03,
        -1.45283567e-05]

for i, obj in enumerate(a):
    a[i] = abs(a[i])

max(a)

array([-0.00115086])

**Наибольший по модулю вес - ответ на вопрос №3 в тесте.**

# Тест: https://docs.google.com/forms/d/e/1FAIpQLSfCPixuIrEMNYMuRNv7fRPSjsWdlPx3U3iF2dTbGY74Q7fe4g/viewform?usp=sf_link